/* settings */

@trackHeight: 90px;
@topBarHeight: 15px;
@handleWidth: 3px;
@trackBorder: 1px;

@font-face {
    font-family: "Silkscreen";
    src: url(../fonts/slkscr.ttf) format("truetype");
}

/* waveform */

.edible-waveform {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: @trackHeight;
    position: absolute;
    top: 0;
    left: 0;
}

.topBar {
    background-color: #666666;
    height: @topBarHeight;
    width: 100%;
    padding: 0;
    margin: 0;
    text-indent: 5px;
    cursor: pointer;
    font-size: 10pt;
    font-family: Helvetica;
    color: #eee;
}

.displayCanvas {
    display: inline-block;
/*    margin: 0;
    padding: 0;*/
/*    position: absolute;*/
/*    left: 0px;*/
}

.resizable-helper {
    border: 1px dashed black;
}

.removeWaveform {
    position: absolute;
    right: 0px;
}

.wfCanvContainer {
/*    font-size: 0pt;
    position: absolute;*/
}

/*.adjustmentHandle {
    display: inline-block;
    background-color: orange;
    height: @trackHeight - @topBarHeight;
    width: @handleWidth;
    margin: 0;
    padding: 0;
    position: absolute;
    cursor: col-resize;
}

.leftHandle {
    .adjustmentHandle;
    left: 0px;
}

.rightHandle {
    .adjustmentHandle;
    right: 0px;
}*/

/* music waveform */

.loopControl {
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    background: rgba(100, 100, 100, .5)
}

.loopControlLeft {
    .loopControl;
    left: 5px;
}

.loopControlRight {
    .loopControl;
    right: 5px;
}

/* timeline */

.edible-timeline {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.track {
    padding: 0;
    margin: 5px 0;
/*    width: 100%;*/
    width: 32000px;
    height: @trackHeight;
    background-color: rgb(225, 225, 225);
    position: absolute;
    left: 0;
    top: 0;
}

.track-drop-hover {
    background-color: #ffefc4;
}

.playhead {
    width: 2px;
    position: absolute;
    background-color: red;
    top: 0;
    z-index: 999;
}